.inner_circle,
.outer_circle{
    width: 400px;
    height: 400px;
    border: 1px solid #dec9c9;
    background: transparent;
    border-radius: 100%;
    z-index: -1;
}

.outer_circle{
    width: 450px;
    height: 450px;
    bottom: -188px;
    right: -102px;
}
.inner_circle{
    bottom: -192px;
    right: -78px;
}

.orange_circle-one,
.orange_circle-two{
    width:15px;
    height:15px;
    background:orange;
    border-radius: 100%;
}

.orange_circle-one{
    top: -165px;
}

.orange_circle-two{
    left: -279px;
    top: -147px;

}

.green_circle-one,
.green_circle-two{
    width:15px;
    height:15px;
    background:green;
    border-radius: 100%;
}

.green_circle-one{
    top: -264px;
    left: -87px;
}

.green_circle-two{
    top: -76px;
    left: 92px;

}

.emoji-design{
    width: 40px;
    height: 40px;
    right: -40px;
    top: -66px;
    background: #fff;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 100%;
    border-bottom-left-radius: 4px;
}
<<<<<<< Updated upstream
.hamburger {
    cursor: pointer;
}

/* Style for the menu */
.menu {
    display: none;
}

/* Style for the menu when it's open */
.menu.open {
    display: block;
=======
@media(max-width:760){
    .hero{
        display: block;
    }
>>>>>>> Stashed changes
}