{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="destination container mx-auto px-7">
    <h1 class="font-bold text-2xl text-center py-8 ">Top Destination</h1>
    <div class="top-part container mx-auto">
        <div class="featured-hotels grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 mt-5 gap-8">
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all w- ">
                <img src="{% static "img/Paro-Drugyel-Dzong.jpg" %}" alt="hotel1" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Drugyed Dzong</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Eighteen kilometres from the town stands the burnt ruins of Drugyel Dzong.  The dzong was built in 1649 by Zhabdrung Ngawang Namgyal to control the route to Tibet. It is said that the dzong had a false entrance which was deliberately designed to lure invaders into an enclosed courtyard.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all">
                <img src="{% static "img/hotel2.jpg" %}" alt="hotel2" class="h-auto  rounded-t" />
                <h2 class="font-bold p-3">Como Uma Paro</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">COMO Uma Paro is our flagship Uma lodge in Bhutan — an intimate, adventure-focussed resort that sits atop a gently sloping blue pine tree-clad hill, overlooking the town of Paro. It is ideally positioned to explore the wider region accompanied by our expert English-speaking guides.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">
                <img src="{% static "img/Traditional-farmhouse.jpg" %}" alt="hotel3" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Bhutanese Farmhouse</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Staying in a Bhutanese farm house is altogether a different experience. It is an opportunity to get a firsthand experience of typical village life in Bhutan. Except for some modifications done to farm houses’ hygiene and sanitation facilities, the rest remains the same.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">

                <img src="{% static "img/Dungtse-Lhakhang.jpg" %}" alt="hotel3" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Dungtse Lhakhang</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Constructed by the great iron bridge builder Thangtong Gyelpo in 1421, it is believed to have been built on the head of the demoness who was causing illness to the inhabitants, to subdue her.</span></p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">
                <img src="{% static "img/hotel1.jpg" %}" alt="hotel1" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Six Senses Thimphu</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Situated within apple orchards and pine forests, yet still within reach of the capital’s attractions, Six Senses Thimphu resort is perched on an auspicious hillside overlooking the shimmering lights of Thimphu. With its grand design and outdoor ponds reflecting the clouds above, this is our very own Palace in the Sky.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all">
                <img src="{% static "img/Kila-Goenpa.jpg" %}" alt="hotel2" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Kila Goenpa</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">The Sanskrit meaning of Kila is subjugating spiritual dagger that destroys the negativities. A hike uphill will take you to a magnificent cluster of temples on the cliffs, a home for the nuns.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">
                <img src="{% static "img/hotel3.jpg" %}" alt="hotel3" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Amankora Paro Lodge</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Occupying the high mountain valleys between China to the north and India to the south, Bhutan has long been a mystery to the West with only a limited number of visitors each year able to glimpse its traditional Mahayana Buddhist way of life and unspoiled Himalayan vistas.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">
                <img src="{% static "img/Kyichu-Lhakhang.jpg" %}" alt="hotel3" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Kyichu Lhakhang</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Just a short drive from Paro lies one of Bhutan’s oldest lhakhangs (temple), Kyichu. The temple is believed to have been built by King Songtsen Gampo of Tibet to pin the left foot of a giant demoness who was thwarting the establishment of Buddhism</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">
                <img src="{% static "img/National-Museum.jpg" %}" alt="hotel1" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Paro Ta-Dzong (National Museum)</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Ta-Dzong, the first National Museum located above the Rinpung Dzong, on top of a hill, attracts a good number of tourists as well as locals. It is defined as a “must-visit” by most who have visited it.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all">
                <img src="{% static "img/Paro-Dzong-Little-Bhutan-scaled.jpg" %}" alt="hotel2" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Paro River</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Over the years, the Paro River has come up to be one of the most popular tourist sites. Running throughout Paro town, till Chudzom, it symbolizes many things. It symbolizes life as it is supports paddy field plantations in the valley. </p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">
                <img src="{% static "img/Paro-Dzong.jpg" %}" alt="hotel3" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Paro Rinpung Dzong</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">From the airport towards Paro town there is a traditional wooden bridge, some two kilometres away, called Nyamai Zam, leading towards a huge fortress (dzong) built with stones. It is white washed and is known by the name of Rinpung Dzong.</p>
            </div>
            <div class="hotel bg-white shadow rounded hover:cursor-pointer hover:drop-shadow-lg ease-in-out duration-300 transition-all ">
                <img src="{% static "img/Tachhogang-Lhakhang.jpg" %}" alt="hotel3" class="w-full rounded-t h-60" />
                <h2 class="font-bold p-3">Tachog Lhakhang</h2>
                <p class="px-3 pb-4 sm:pb-0 text-gray-600 text-sm">Before reaching Chhuzom, after crossing Isuna village, Tachog Lhakhang also known as Tachogang becomes visible. It is is located on the base of a mountain along the Paro-Thimphu highway.</p>
            </div>
        </div>
    </div>  
</div>
</section>
{% comment %} {% include "itinerary.html" %} {% endcomment %}
{% endblock content %}
