{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="destination">
    <div class="top-part container mx-auto">
    <div class="destination-img">
        <img src="{% static "img/monastry.jpg" %}" alt="monastry" class="w-full h-60">
    </div>
    <p>Punakha (Dzongkha: སྤུ་ན་ཁ་) is the administrative centre of Punakha dzongkhag, one of the 20 districts of Bhutan. Punakha was the capital of Bhutan and the seat of government until 1955, when the capital was moved to Thimphu. It is about 72 km away from Thimphu, and it takes about 3 hours by car from the capital. Unlike Thimphu, it is quite warm in winter and hot in summer. It is located at an elevation of 1,200 metres above sea level, and rice is grown as the main crop along the river valleys of two main rivers of Bhutan, the Pho Chu and Mo Chu. Dzongkha is widely spoken in this district.</p>
</div>
</section>
{% endblock content %}
