{% load static %}

<nav
  class="fixed container mx-auto z-20 top-0  border-b border-gray-200 bg-white"
>
  <div
    class="flex flex-wrap items-center justify-between p-4"
  >
    <a href="" class="flex items-center space-x-3">
      <img
        src="{% static 'img/logo.png' %}"
        class="h-10"
        alt="LittleBhutan Logo"
      />
      <span
        class="self-center text-2xl font-bold text-gray-900"
        >Little Bhutan</span
      >
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        class="text-white bg-orange-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
      >
        Register
      </button>
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false"
        id="hamburger"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      id="menu"
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul class="flex gap-4 text-gray-600 ">
        <div>
          <a href="#">Home</a>
        </div>
        <div>
          <a href="#">Blog</a>
        </div>
        <div>
          <a href="#">Destination</a>
        </div>
        <div>
          <a href="#">Contact Us</a>
        </div>
      </ul>
    </div>
  </div>
</nav>
