{% extends "base.html" %}
{% load static %} 
{% block title %}Little Bhutan{%endblock title %} 

{% block content %}
<section class="container mx-auto pt-5">
  <nav class=" navbar flex justify-between items-center">
    <div class="logo flex items-center">
      <img src="{% static 'img/logo.png' %}" class="max-w-16" />
      <h1 class="font-bold text-2xl text-gray-900">
        Bhutan <span class="text-blue-900">Easy</span>
      </h1>
    </div>
    <div calss="nav-menus">
      <ul class="flex space-x-10 text-gray-500">
        <div><a class="hover:to-black" href="#">Discover</a></div>
        <div><a class="hover:to-black" href="#">Destination</a></div>
        <div><a class="hover:to-black" href="#">About Us</a></div>
      </ul>
    </div>
    <div class="register">
      <a class="bg-orange-300 rounded-2xl px-4 py-2" href="#">Register</a>
    </div>
  </nav>
</section>
<!-- nav section ends here -->

<!-- hero section starts here -->
<section class="container mx-auto grid md:grid-cols-2 sm:grid-cols-1 mt-40">
  <div class="hero-text-part">
    <div class="hero-text-section">
      <h1 class="font-bold text-7xl text-gray-900 leading-snug">
        <span class="text-8xl">Explore </span> <br />
        BHUTAN <span>&#8594;</span>
      </h1>

      <p class="text-gray-500 max-w-sm mt-6">
        Let's spend your money and relieve your stress by going around the
        mountains of Bhutan, there is samll part of heraven on earth
      </p>
    </div>
    <div class=" hero-btns flex space-x-10 mt-12">
      <div class="hero-btns-one">
        <a
          class="bg-orange-500 rounded-2xl px-4 py-2 text-white drop-shadow-2xl"
          href="#"
          >Go Exploration</a
        >
      </div>
      <div class="hero-button-two"><a class="text-gray-800" href="#">Get a Price</a></div>
    </div>
  </div>
  <div class="hero-img-part flex justify-center items-center relativ ">
    <img src="{% static "img/girl.png" %}" alt="" class=" h-auto max-w-60" >
    <div class="relative">
    <div class="circle-design absolute ">
      <div class="inner_circle absolute"></div>
      <div class="outer_circle absolute"></div>
      <div class="orange_circle-one absolute"></div>
      <div class="orange_circle-two absolute"></div>
      <div class="green_circle-one absolute"></div>
      <div class="green_circle-two absolute"></div>
    </div>

    <div class="emoji-design absolute">
      <h1>😍</h1>
    </div>
  

  <div class="quotation bg-white drop-shadow-2xl border rounded-2xl absolute z-10 bottom-[-140px] right-60">
      <div class="p-5 flex items-center relative justify-center align-center ">
        <div class="quotion-img">
          <img src="{% static "img/logo.png" %}" alt="" class="max-w-8 mr-3 absolute bg-white border-2 border-green-700 rounded-full p-1 top-[-13px]">
        </div>
        <div class="text-gray-600 text-xs w-48">
          <h1>Bhutan is very amazing, I enjoyed my honeymoon here</h1>
          <p class="mt-2">Fatisma💝</p>
        </div>
      </div>
    </div> 
  </div>
  </div>
</section>
<!-- hero section end here  -->

{% comment %} card section starts here {% endcomment %}
<section class="container grid grid-cols-3 mx-auto mt-20 ">
    <div class="card-one rounded-2xl relative">
        <img src="{% static "img/buddha.jpg" %}" alt="buddha" class="h-96 max-w-72 rounded-2xl">
        <div class="card-text bg-white pt-2 pl-3 pr-32 absolute -bottom-6 left-5 rounded-2xl">
            <p class="text-gray-600 text-sm">Google Rating:</p>
            <h2 class="font-bold ">Buddha Stupa</h2>
            <h2 class="text-gray-600 -mt-0"><span class=" text-orange-600">&#9733;</span>5.0 Ratings</h2>
        </div>
    </div>
    <div class="card-two rounded-2xl relative">
        <img src="{% static "img/temple.png" %}" alt="buddha" class="h-96 max-w-72 rounded-2xl">
        <div class="card-text bg-white pt-2 pl-3 pr-32 absolute -bottom-6 left-5 rounded-2xl">
            <p class="text-gray-600 text-sm">Trustworthy Rating:</p>
            <h2 class="font-bold ">Shiva Temple</h2>
            <h2 class="text-gray-600 -mt-0"><span class=" text-orange-600">&#9733;</span>4.0 Ratings</h2>
        </div>
    </div>
    
  <div class="best-of-week-card">
    <h1 class="text-3xl">Best of the week</h1>
    <p class="text-gray-600 text-sm mt-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, perferendis optio inventore quas laboriosam ex molestias provident Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam fugiat ipsam earum excepturi fuga, similique qui! Nobis ratione modi, incidunt aperiam et voluptatem veniam doloremque sit nisi quia ad quos?</p>
    <div class="numbers flex justify-between mt-20">
        <div class="destination">
             <h1  class="text-orange-600 text-3xl font-bold">50+</h1>
            <p class="text-sm text-gray-600">Destination</p>
         </div>
         <div class="tourist">
            <h1 class="text-orange-600 text-3xl font-bold">200+</h1>
           <p class="text-sm text-gray-600">Tourists</p>
        </div>
        <div class="hotels">
            <h1 class="text-orange-600 text-3xl font-bold">100+</h1>
           <p class="text-sm text-gray-600">Hotels</p>
        </div>
    </div>
    <div class="find-place bg-gray-950 text-white rounded-2xl px-6 py-3 max-w-fit mt-10">
        Find a Place
    </div>
  </div>
</section>
{% comment %} card section ends here {% endcomment %}

{% comment %} freatured properties  section strats here  {% endcomment %}
<section class="container mx-auto mt-20 bg-[#e6d590] p-10 rounded-2xl">
    <h1 class="font-bold text-gray-900 text-2xl my-3">Featured Properties</h1>
<div class ="featured-tags text-gray-900 font-bold mb-5">
    <h1 class="inline-block mr-3 border-b border-dotted"><span>✅</span> We Match Price</h1>
    <h1 class="inline-block mr-3 border-b border-dotted"><span>🔖</span> Hotel Booking gurantee</h1>
    <h1 class="inline-block mr-3 border-b border-dotted"><span>🏩</span> Hotel stay gurantee</h1>
</div>
<div class="featured-cities flex gap-3 ">
    <h1 class="text-white py-1 px-3 drop-shadow-lg rounded-2xl bg-gray-900">Thimphu</h1>
    <h1 class="text-gray-900 py-1 px-3 drop-shadow-lg bg-white rounded-2xl">Baga</h1>
    <h1 class="text-gray-900 py-1 px-3 drop-shadow-lg bg-white rounded-2xl">Mongar</h1>
    <h1 class="text-gray-900 py-1 px-3 drop-shadow-lg bg-white rounded-2xl">Tongsa</h1>
    <h1 class="text-gray-900 py-1 px-3 drop-shadow-lg bg-white rounded-2xl">Damphu</h1>
</div>
<div class="featured-hotels grid grid-col-4 gap-2 mt-5">
  <div class="hotel bg-white drop-shadow-xl rounded-2xl max-w-64">
    <img src="{% static "img/hotel1.jpg" %}" alt="hotel1" class="h-auto max-w-64 rounded-t-2xl">
    <h1 class="font-bold p-3">Six Senses Thimphu - FREE Airport Shuttle <span class=" text-orange-600">&#9733;&#9733;&#9733;&#9733;&#9733;</span></h1>
    <h2 class="px-3 text-gray-900 text-sm"><span class = "text-white bg-blue-950 p-1 rounded ">4.1/5</span> 392 Reviews</h2>
    <h2 class="p-3 text-end text-gray-600 text-sm">Start from <span class="font-bold text-gray-900">US$ 50 </span><h2>
  </div>
  <div class="hotel bg-white drop-shadow-xl rounded-2xl max-w-64">
    <img src="{% static "img/hotel2.jpg" %}" alt="hotel2" class="h-auto max-w-64 rounded-t-2xl">
    <h1 class="font-bold p-3">Como Uma Paro - FREE Airport Shuttle <span class=" text-orange-600">&#9733;&#9733;&#9733;&#9733;&#9733;</span></h1>
    <h2 class="px-3 text-gray-900 text-sm"><span class = "text-white bg-blue-950 p-1 rounded ">4.0/5</span> 392 Reviews</h2>
    <h2 class="p-3 text-end text-gray-600 text-sm">Start from <span class="font-bold text-gray-900">US$ 51 </span><h2>
  </div>
  <div class="hotel bg-white drop-shadow-xl rounded-2xl max-w-64">
    <img src="{% static "img/hotel3.jpg" %}" alt="hotel3" class="h-auto max-w-64 rounded-t-2xl">
    <h1 class="font-bold p-3">Amankora Paro Lodge - FREE Airport Shuttle <span class=" text-orange-600">&#9733;&#9733;&#9733;&#9733;&#9733;</span></h1>
    <h2 class="px-3 text-gray-900 text-sm"><span class = "text-white bg-blue-950 p-1 rounded ">4.5/5</span> 392 Reviews</h2>
    <h2 class="p-3 text-end text-gray-600 text-sm">Start from <span class="font-bold text-gray-900">US$ 52 </span><h2>
  </div>
  <div 
  style ="background-image: url("{% static "img/hotel4.jpg" %}")" 
  class="hotel4 bg-white drop-shadow-xl rounded-2xl max-w-64 w-full h-full bg-no-repeat">
    {% comment %} <img src="{% static "img/hotel1.jpg" %}" alt="hotel1" class="h-auto max-w-64 rounded-t-2xl"> {% endcomment %}
    <h1 class="font-bold p-3">Get best deals on the hotels around Bhutan</h1>
  </div>
</div>

</section>

{% comment %} freatured properties ended here  {% endcomment %}

{% comment %} featured post section strats here  {% endcomment %}
<section class="container mx-auto mt-16">
    <h1 class="font-bold text-3xl text-gray-900 my-11 text-center">Recent Blogs</h1>
    <div class="grid grid-cols-3 gap-3">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="{% static "img/buddha.jpg" %}" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more<span>&#8594;</span>
            </a>
        </div>
    </div>

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="{% static "img/temple.png" %}" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more<span>&#8594;</span>
            </a>
        </div>
    </div>

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="{% static "img/buddha.jpg" %}" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more<span>&#8594;</span>
            </a>
        </div>
    </div>
</div>
</section>
{% endblock content %}
