
{% load static %}

<section>
    <div class="container my-4 mx-auto py-2 block bg-slate-200">
        <h1 class="text-3xl">Tour Itnerary</h1>
        <div class="border-solid border-2 rounded-xl bg-blue-50 cc p-2 m-3 hover:cursor-pointer" id="cc">
            <h3 class="text-2xl">
                 <span>Day1 : <i>Paro Taktsang</i></span>
            </h3>
            <div class="detail hidden p-2 text-xl" id="detail">
                <h3>
                    <p></p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi necessitatibus eius voluptatem laudantium maiores, molestias cumque dolor
                </p>
                <p>
                    ratione quas provident praesentium excepturi fugiat nam, nulla quibusdam recusandae, accusamus quos nostrum.
                </p>
               <p> Dolorem nobis voluptate, explicabo consequatur ea facere asperiores ducimus sint temporibus repellendus quia rerum voluptatem quos nesciunt soluta illo dolor molestias nihil sed deserunt quae architecto fuga optio. Quaerat, sed.</p>
                
            <img src="{% static 'img/buddha.jpg' %}" alt="Stupa-img"></h3>
            </div>
        </div>
        <div class="border-solid border-2 rounded-xl bg-blue-50 cc p-2 m-3 hover:cursor-pointer" id="cc">
            <h3 class="text-2xl">
                <span>Day2 : <i>Rinpung Dzong</i></span>
           </h3>
            <div class="detail hidden p-2 text-xl" id="detail">
                <h3>
                    <p></p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi necessitatibus eius voluptatem laudantium maiores, molestias cumque dolor
                </p>
                <p>
                    ratione quas provident praesentium excepturi fugiat nam, nulla quibusdam recusandae, accusamus quos nostrum.
                </p>
               <p> Dolorem nobis voluptate, explicabo consequatur ea facere asperiores ducimus sint temporibus repellendus quia rerum voluptatem quos nesciunt soluta illo dolor molestias nihil sed deserunt quae architecto fuga optio. Quaerat, sed.</p>
                
            <img class="w-10% justify-center"src="{% static 'img/buddha.jpg' %}" alt="Stupa-img"></h3>
            </div>
        </div>
    </div>
</section>
