<section class="mt-8">
    <h2 class="text-xl font-medium">Itinerary</h2>

    <div id="accordion-flush" data-accordion="collapse"
         data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
         data-inactive-classes="text-gray-500 dark:text-gray-400">
        <h2 id="accordion-flush-heading-1">
            <button type="button"
                    class="flex items-center justify-between w-full py-5 font-medium border-b border-gray-200 gap-3"
                    data-accordion-target="#accordion-flush-body-1" aria-expanded="true"
                    aria-controls="accordion-flush-body-1">
                <span>Day 1:Arrival- Paro to Thimpu </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 transition-all duration-300 shrink-0" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="py-5 border-b border-gray-200 text-gray-600">
                <p class="font-bold ">Driving Distance: <span class="font-normal"> 65km/hrs</span></p>
                <p class="font-bold">Elevation:<span class="font-normal"> 2200m/7657ft</span></p> 
                <p class="py-7">Upon landing, drive on to Thimphu, the capital city of Bhutan.</p>
                <div class="attraction mb-5">
                    <p class="font-bold">Attractions:</p>
                    <ul class="ml-2 mt-3">
                        <li>- Bhddha Point</li>
                        <li>- Memorial Chorten</li>
                        <li>- Explore Thimpu Town</li>
                    </ul>
                </div>
                <p>Overnight in Thimpu</p>
            </div>
        </div>
        <h2 id="accordion-flush-heading-2">
            <button type="button"
                    class="flex items-center justify-between w-full py-5 font-medium border-b border-gray-200 gap-3"
                    data-accordion-target="#accordion-flush-body-2" aria-expanded="false"
                    aria-controls="accordion-flush-body-2">
                <span>Day 2: Thimpu- A day excursion to Punakha</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 transition-all duration-300 shrink-0" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <div class="py-5 border-b border-gray-200 text-gray-600">
                    <p class="font-bold ">Driving Distance: <span class="font-normal"> 65km/hrs</span></p>
                    <p class="font-bold">Elevation:<span class="font-normal"> 2200m/7657ft</span></p> 
                    <p class="py-7">Upon landing, drive on to Thimphu, the capital city of Bhutan.</p>
                    <div class="attraction mb-5">
                        <p class="font-bold">Attractions:</p>
                        <ul class="ml-2 mt-3">
                            <li>- Bhddha Point</li>
                            <li>- Memorial Chorten</li>
                            <li>- Explore Thimpu Town</li>
                        </ul>
                    </div>
                    <p>Overnight in Thimpu</p>
                </div>
            </div>
        </div>
        <h2 id="accordion-flush-heading-3">
            <button type="button"
                    class="flex items-center justify-between w-full py-5 font-medium border-b border-gray-200 gap-3"
                    data-accordion-target="#accordion-flush-body-3" aria-expanded="false"
                    aria-controls="accordion-flush-body-3">
                <span>Day 3: Punakha -Paro- "Hike to Tiger's Nest</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 transition-all duration-300 shrink-0" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <div class="py-5 border-b border-gray-200 text-gray-600">
                    <p class="font-bold ">Driving Distance: <span class="font-normal"> 65km/hrs</span></p>
                    <p class="font-bold">Elevation:<span class="font-normal"> 2200m/7657ft</span></p> 
                    <p class="py-7">Upon landing, drive on to Thimphu, the capital city of Bhutan.</p>
                    <div class="attraction mb-5">
                        <p class="font-bold">Attractions:</p>
                        <ul class="ml-2 mt-3">
                            <li>- Bhddha Point</li>
                            <li>- Memorial Chorten</li>
                            <li>- Explore Thimpu Town</li>
                        </ul>
                    </div>
                    <p>Overnight in Thimpu</p>
                </div>
            </div>
        </div>
    </div>
</section>