{% load static %}
{% block content %}
<section class="single-destination-page">
    <div class="container mx-auto">
        <h1>Bhutan: 5 days tour in Paro, Thimpu, and Punakha</h1>
        <div class="destination-img grid grid-cols-2">
            <div class="image1">
                <img src="{% static "" %}" alt="">
            </div>
            <div class="image2 gird grid-rows-2">
                <div class="image-2a"></div>
                <div class="image-2b"></div>
            </div>
        </div>

        

    </div>
</section>
{% endblock content %}