{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="single-destination-page container mx-auto">
        <div class="flex" aria-label="Breadcrumb ">
            <ol class="inline-flex items-center space-x-1 pt-7">
              <li class="inline-flex items-center">
                <a href="#" class="inline-flex items-center text-sm font-medium text-gray-800">
                  <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                  </svg>Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                  </svg>
                  <a href="#" class="ms-1 text-sm font-medium text-gray-600">Destination</a>
                </div>
              </li>
              <li aria-current="page">
                <div class="flex items-center">
                  <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                  </svg>
                  <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Bhutan: 5 days tour</span>
                </div>
              </li>
            </ol>
          </div>
        <div class="container mx-auto">
            <h1 class="font-bold text-gray-900 text-3xl py-6">Bhutan: 5 days tour in Paro, Thimpu, and Punakha</h1>
            <div class="destination-img grid grid-cols-3 gap-x-4">
                <div class="image1 col-span-2 ">
                    <img src="{% static 'img/Paro-Dzong.jpg' %}" alt="paro"
                         class=" w-full h-96 rounded-xl object-center"/>
                </div>
                <div class="image2 grid">
                    <div class="image-2a mb-4">
                        <img src="{% static "img/tiger.jpg" %}" alt="" class="w-full h-44 rounded-xl object-cover">
                    </div>
                    <div class="image-2b">
                        <img src="{% static "img/monastry.jpg" %}" alt="" class="w-full h-48 rounded-xl object-cover">
                    </div>
                </div>
            </div>

            <div class="destination-details mt-6">
                <h2 class="font-bold text-xl text-gray-900 pb-6 gap-4">Details</h2>

                <div class="details-content flex gap-8">
                    <div class="single_contents w-[75%]">
                        <div class="main_content">
                            <p>Experience the unbelievable inspiration of Bhutan’s timeless culture and traditions
                                through
                                visits to local farmhouses and ancient cultural sites. With our three-day tour, you’ll
                                glimpse the everyday life of Bhutanese people and immerse yourself in the stunning
                                natural
                                surroundings. An opportunity to explore and discover the rich history and cultural
                                significance of Bhutan, from its traditional farmhouses to the many historical monuments
                                that dot the landscape. Join us on this unforgettable journey and discover the wonder
                                and
                                beauty of Bhutan.</p>
                            <div class="highlights ">
                                <p class="font-bold pt-6 pb-3">Tour Highlight</p>
                                <ul class="ml-8 list-disc">
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, officia!
                                    </li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, officia!
                                    </li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, officia!
                                    </li>
                                </ul>
                            </div>

                            <div class="price-included">
                                <p class="font-bold pt-6 pb-3 ">Price Included</p>
                                <ul>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-green-500 me-1"></i> A
                                        minimum of 3-star
                                        accommodation (4 & 5 stars can be upgraded at an additional fee)
                                    <li>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-green-500 me-1"></i> All
                                        meals / Tea & snacks
                                    </li>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-green-500 me-1"></i>
                                        Sightseeing with entrance
                                        fees
                                    </li>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-green-500 me-1"></i> SDF
                                        (Sustainable Development
                                        Fees/Government Fees) & Visa Fees
                                    </li>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-green-500 me-1"></i> All
                                        internal transport
                                        (excluding Domestic flights)
                                    </li>
                                </ul>
                            </div>

                            <div class="price-included">
                                <p class="font-bold pt-6 pb-3">Price Excluded</p>
                                <ul>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-red-500 me-1"></i>Flights
                                    </li>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-red-500 me-1"></i>Travel &
                                        Health Insurance
                                    </li>
                                    <li class="mb-1"><i class="fa-solid fa-circle-check text-red-500 me-1"></i>Additional
                                        personal expenses
                                        such as souvenirs, meals, snacks, alcohol, laundry, tips, and gratuities for the
                                        tour leader and staff.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% include "itinerary.html" %}
                    </div>

                    <div class="enquiry-form sticky bg-white shadow-xl w-[25%] rounded h-max top-[81px]">
                        <div class="py-4 px-4">
                            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900">
                                Price: $200</h2>
                            <form action="#" class="space-y-4">
                                <div>
                                    <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900">Full
                                        Name</label>
                                    <input type="text" id="fullname"
                                           class="border border-gray-300 text-gray-900 outline-0 text-sm rounded block w-full p-2.5"
                                           required/>
                                </div>
                                <div>
                                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email
                                        Address</label>
                                    <input type="email" id="email"
                                           class="border border-gray-300 text-gray-900 outline-0 text-sm rounded block w-full p-2.5"
                                           required/>
                                </div>
                                <div>
                                    <label for="message"
                                           class="block mb-2 text-sm font-medium text-gray-900">Your Enquiry</label>
                                    <textarea id="message" rows="6"
                                              class="block p-2.5 w-full text-sm text-gray-900 rounded-lg shadow-sm border border-gray-300 outline-0"></textarea>
                                </div>

                                <div class="flex items-start">
                                    <div class="flex items-center h-5">
                                        <input id="terms" aria-describedby="terms" type="checkbox"
                                               class="w-4 h-4 border border-gray-300 rounded bg-gray-50"
                                               required="">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="terms" class="font-light text-gray-400">I
                                            accept the <a
                                                    class="font-medium text-gray-600 hover:underline"
                                                    href="#">Terms and Conditions</a> and <a
                                                    class="font-medium text-gray-600 hover:underline"
                                                    href="#">Privacy Policy</a></label>
                                    </div>
                                </div>

                                <button type="submit"
                                        class="py-3 px-5 text-sm w-full font-medium text-center text-white rounded bg-orange-600 btn_effect">
                                    SUBMIT ENQUIRY
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
