{% extends "login-base.html" %}
{% block title %}Verify Email - LittleBhutan{% endblock title %}

{% block content %}
<form class="theme-form text-center" action="{% url 'userauth:verify' %}" method="post">
    {% csrf_token %}

    {% with messages=messages %}
        {% include 'alert.html' %}
    {% endwith %}

    <h4>Verify Email Address</h4>

    <p>We've sent a verification email to the address <strong>{{email}}</strong>. Please check your inbox and click on the verification link to complete the registration process. If you don't see the email, please check your spam folder.</p>

    <div class="form-group mb-0">
        <div class="text-end mt-3">
            <button class="btn btn-primary btn-block w-100" type="submit">Resend Verification Email</button>
        </div>
    </div>
    
    <p class="mt-4 mb-0 text-center">Remember Password?<a class="ms-2" href="{% url 'userauth:login' %}">Login from here</a></p>
</form>
{% endblock content %}